/target/
/benchmarks/dotnet-v1-query/bin/
/benchmarks/dotnet-v1-query/obj/
/benchmarks/nuget-v1-query/bin/
/benchmarks/nuget-v1-query/obj/
/dotnet/**/bin/
/dotnet/**/obj/
/web-demo/dist/
/web-demo/node_modules/
/web-demo/playwright-report/
/web-demo/test-results/
*.log